$font-family-sans-serif: 'Roboto', sans-serif;

$primary: #42dbc1;
$secondary: #78e2ff;
$dark: #495057;

.FaSignInAlt {
    color: $primary;
}

.FaUser {
    color: $primary;
}

@import "../../node_modules/bootstrap/scss/bootstrap";